
div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px auto;
    text-align: center;
    height: 400px;


}

/*div da logo da pagina*/
.logo {
    
    background-color: #afddfd;
    text-align: center;
    margin: 15px 15px 40px 15px;

}

/*link da div logo*/
.logo-link {
    font-size: 20px;
    margin: 40px 12px;
    text-align: center;
    color: black;
}

/*'div do banner*/
.banner {
    height: 450px;
    text-align: center;
}

/*imagem da div do banner*/
.img-banner {
    width: 1200px;
    height: auto;
}

/*todos os paragrafos da pagina*/
p {
    margin: 10px auto;
}

/*paragrafo da div da classe sobre*/
.sobre p {
    width: 980px;
    line-height: 28px;
    margin-top: 20px;
    text-align: justify;

}

/*paragrafo da div da classe servicos*/
.servicos p {
    font-size: 18px;
    line-height: 28px;
}

/*todos os span da pagina*/
span {
    font-weight: bold;    
}

/*div sobre*/
.sobre {
    height: 600px;
}

.texto-azul {
    font-size: 18px;
    color: #1c81c0;
}

.sobre h1 {
    margin-top: 15px;
}

.sobre h2 {
    color: #1c81c0;
    font-weight: normal;
}

.sobre img  {
    width: 450px;
}

/************************/

/*div servicos*/
.servicos {
    height: 500px;
    color: #ffffff;
    background-color: #1c81c0;
}

.servicos h2 {
    font-size: 28px;
    line-height: 42px;
    margin-top: 5px;
}

.servicos p {
    font-size: 22px;
    width: 700px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}

.texto-amarelo {
    color: #fff81b;
    font-weight: bold;
}

.servicos li {
    font-size: 18px;
    width: 135px;
    margin: 20px auto;
}

/*****************/

/**div corretores**/

.corretores {
    height: 500px;

}

.corretores img {
    width: 450px;
}


.corretores p {
    width: 900px;
    margin-top: 10px;
    line-height: 42px;
    text-align: center;
    color: black;   
}

/**div contato**/

.contato {
    height: 500px;
    background-color: #1c81c0;
}

.contato h2 {
    color: #ffffff;
}

.contato p {
    width: 1100px;
    color: #ffffff;
    background-color: black;
    padding: 15px;
    margin: 30px auto;
    margin-top: 30;
}


.contato li {
  width: 250px;
  margin: 15px auto;
}

.contato a {
    background-color: #ffffff;
    color: #1c81c0;
    padding: 2px 5px;
    border-radius: 5px;

}











/*************************/
